@import url(d:\GoogleDrive\projects\rsschool\rsschool-cv\css\normalize\normalize.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Urbanist', sans-serif;
  font-size: 2rem;
}

body a {
  text-decoration: none;
  color: #313030;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 600;
}

body a use {
  fill: #313030;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

body a:hover {
  color: #1c60a0;
}

body a:hover use {
  fill: #1c60a0;
}

.heading-primary {
  color: #313030;
  margin-bottom: 6rem;
  font-family: 'Expletus Sans', cursive;
  font-weight: 700;
  font-size: 4.5rem;
}

.heading-secondary {
  color: #313030;
  margin-bottom: 3rem;
  font-family: 'Expletus Sans', cursive;
  font-weight: 500;
  font-size: 3rem;
}

.u-borderbottom {
  border-bottom: solid 2px #313030;
}

.u-marginbottom-small {
  margin-bottom: 1rem;
}

.u-marginbottom-medium {
  margin-bottom: 4rem;
}

.u-marginbottom-big {
  margin-bottom: 6rem;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header--portrait {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 1rem;
  border: solid 3px #313030;
}

.footer__list {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__link-logo {
  height: 50px;
}

.footer svg {
  max-width: 50px;
}

.wrap {
  margin: 2rem auto;
  width: 100%;
  max-width: 1000px;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
}

.sidebar {
  max-width: 30%;
}

.sidebar ul {
  list-style: none;
}

.sidebar__item {
  margin-top: 2.5rem;
}

.sidebar .contact a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .contact__icons {
  height: 3.2rem;
  width: 3.2rem;
  margin-right: 1rem;
  fill: #313030;
}

.sidebar .education .courses__item {
  margin-left: 2rem;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */