@import url(d:\GoogleDrive\projects\rsschool\rsschool-cv\css\normalize\normalize.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Urbanist', sans-serif;
  font-size: 2rem;
  color: #313030;
  line-height: 3rem;
}

body a {
  text-decoration: none;
  color: #313030;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 600;
}

body a use {
  fill: #313030;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

body a:hover {
  color: #1c60a0;
}

body a:hover use {
  fill: #1c60a0;
}

code {
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
}

.heading-primary {
  margin-bottom: 6rem;
  font-family: 'Expletus Sans', cursive;
  font-weight: 700;
  font-size: 4.5rem;
}

.heading-secondary {
  margin-bottom: 3rem;
  font-family: 'Expletus Sans', cursive;
  font-weight: 500;
  font-size: 3.5rem;
}

.heading-tertiary {
  margin-bottom: 1.5rem;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 3rem;
}

.u-borderbottom {
  border-bottom: solid 2px #313030;
}

.u-marginbottom-small {
  margin-bottom: 1rem;
}

.u-marginbottom-medium {
  margin-bottom: 4rem;
}

.u-marginbottom-big {
  margin-bottom: 6rem;
}

.u-textalign-center {
  text-align: center;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header--portrait {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 1rem;
  border: solid 3px #313030;
}

.footer__list {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__link-logo {
  height: 50px;
}

.footer svg {
  max-width: 50px;
}

.wrap {
  margin: 2rem auto;
  width: 100%;
  max-width: 1000px;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  margin-top: 2.5rem;
}

.sidebar {
  max-width: 30%;
}

.sidebar ul {
  list-style: none;
}

.sidebar__item {
  margin-top: 2.5rem;
}

.sidebar__item:first-child {
  margin-top: 0rem;
}

.sidebar .contact a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .contact__icons {
  height: 3.2rem;
  width: 3.2rem;
  margin-right: 1rem;
  fill: #313030;
}

.sidebar .education .courses__item {
  margin-left: 2rem;
  font-weight: 300;
}

.main {
  width: 100%;
  padding: 0 4rem;
}

.main p {
  font-weight: 300;
}

.main .code-container {
  padding: 1rem;
  margin: 2rem 0rem;
  -webkit-box-shadow: #aaaaaa 7px -7px 10px 0px;
          box-shadow: #aaaaaa 7px -7px 10px 0px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.main .skills__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  list-style: none;
  text-align: center;
}

.main .skills__list-inner {
  margin-top: 3rem;
  margin-bottom: 2rem;
  list-style: none;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80%;
}

.main .skills__type {
  -webkit-box-shadow: #aaaaaa 0px 0px 15px 5px;
          box-shadow: #aaaaaa 0px 0px 15px 5px;
  min-height: 35vh;
  min-width: 33%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 3rem 2rem;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.main .skills__type:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: #aaaaaa 0px 0px 15px 7px;
          box-shadow: #aaaaaa 0px 0px 15px 7px;
}

.main .skills__item {
  padding: 1rem;
}

.main .projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .projects__link {
  overflow: hidden;
  display: block;
  height: 24rem;
  width: 35rem;
  overflow: hidden;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: #aaaaaa 0px 0px 15px 5px;
          box-shadow: #aaaaaa 0px 0px 15px 5px;
}

.main .projects__block {
  position: relative;
}

.main .projects__block:hover .projects__block-description {
  -webkit-transform: translateX(33rem);
      -ms-transform: translateX(33rem);
          transform: translateX(33rem);
}

.main .projects__block-description {
  padding: 2rem 1rem;
  text-align: right;
  position: absolute;
  top: 0rem;
  left: 0rem;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  background-color: #eee;
  width: 20rem;
  height: 100%;
  overflow: hidden;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.main .projects__img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */