.content {
  display: flex;
  font-weight: 600;
  justify-content: space-between;

  @media only screen and (max-width: ($bp-mid)) {
    flex-direction: column;
    width: 100%;
  }
}

.sidebar {
  max-width: 30%;
  @media only screen and (max-width: ($bp-mid)) {
    min-width: 100%;
    margin-bottom: 3rem;
    padding-right: 2rem;
  }

  & ul {
    list-style: none;
  }
  &__content {
    @media only screen and (max-width: ($bp-mid)) {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    @media only screen and (max-width: ($bp-mid)) {
      flex-direction: column-reverse;
      width: 100%;
      justify-content: space-between;
    }
  }
  &__item {
    margin-top: 2.5rem;
    &:first-child {
      margin-top: 0rem;
    }

    @media only screen and (max-width: ($bp-mid)) {
      display: flex;
      flex-direction: column;
      margin-top: 0;
      &-contact {
        order: 2;
      }
      &-education {
        order: 0;
      }
      &-language {
        order: 1;
      }
    }
    @media only screen and (max-width: ($bp-small)) {
      margin-bottom: 2rem;
    }
  }

  .contact {
    a {
      display: flex;
      align-items: center;
    }

    &__icons {
      height: 3.2rem;
      width: 3.2rem;
      margin-right: 1rem;
      fill: $color-dark;
    }

    @media only screen and (max-width: ($bp-mid)) {
      display: flex;
      flex-direction: column;
    }
  }

  .education {
    .courses {
      &__item {
        margin-left: 2rem;
        font-weight: 300;
      }
      @media only screen and (max-width: ($bp-mid)) {
        display: flex;
        flex-direction: column;
      }
    }

    @media only screen and (max-width: ($bp-mid)) {
      display: flex;
      flex-direction: column;
    }
  }
  .languages {
    @media only screen and (max-width: ($bp-mid)) {
      display: flex;
      flex-direction: column;
    }
  }
}

.main {
  max-width: 69%;
  padding: 0;

  @media only screen and (max-width: ($bp-mid)) {
    max-width: 100%;
  }

  p {
    font-weight: 300;
  }

  .code-container {
    padding: 1rem;
    margin: 2rem 0rem;
    box-shadow: $color-shadow-grey 7px -7px 10px 0px;
    border-radius: 4px;
  }

  .skills {
    &__list {
      display: flex;
      justify-content: space-around;
      list-style: none;
      text-align: center;
      width: 100%;

      @media only screen and (max-width: ($bp-mid)) {
        width: 80%;
        min-width: 22rem;
        margin: 0 auto;
      }

      @media only screen and (max-width: ($bp-small)) {
        flex-direction: column;
        width: 60%;
        align-content: center;
        height: 90rem;
        margin: 0 auto;
        min-width: 22rem;
      }

      &-inner {
        margin-top: 3rem;
        margin-bottom: 2rem;
        list-style: none;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
      }
    }

    &__type {
      box-shadow: $color-shadow-grey 0px 0px 15px 5px;
      min-height: 40rem;
      min-width: 33%;
      border-radius: 5px;
      padding: 3rem 2rem;
      transition: all 0.6s;
      background: linear-gradient(45deg, #eecb9d 9%, #d69440 9%, #d69440 91%, #eecb9d 91%);

      &:hover {
        transform: scale(1.03);
        box-shadow: $color-shadow-grey 0px 0px 15px 7px;
      }
    }

    &__item {
      padding: 1rem;
    }
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__link {
      overflow: hidden;
      display: block;
      height: 24rem;
      width: 35rem;
      overflow: hidden;
      border-radius: 3px;
      box-shadow: $color-shadow-grey 0px 0px 15px 5px;

      @media only screen and (max-width: ($bp-big)) {
        transform: scale(0.9) translateX(-10rem);
      }

      @media only screen and (max-width: ($bp-mid)) {
        transform: translateX(-10rem);
      }

      @media (hover: none) and (pointer: coarse) {
        transform: translateX(-10rem);
      }
      @media only screen and (max-width: ($bp-small)) {
        transform: translateX(0rem);
        margin-bottom: 20rem;
      }
    }

    &__block {
      position: relative;

      &:hover .projects__block-description {
        transform: translateX(33rem);

        @media only screen and (max-width: ($bp-big)) {
          transform: scale(0.9) translateX(23rem);
        }

        @media (hover: none) and (pointer: coarse) {
          transform: translateX(23rem);
        }
        @media only screen and (max-width: ($bp-mid)) {
          transform: translateX(23rem);
        }
        @media only screen and (max-width: ($bp-small)) {
          transform: translate(0, 22rem);
        }
      }

      &-description {
        padding: 2rem 1rem;
        text-align: right;
        position: absolute;
        top: 0rem;
        left: 0rem;
        transition: all 0.8s;
        background-color: #eee;
        width: 20rem;
        height: 100%;
        overflow: hidden;
        border-radius: 6px;
        z-index: -1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media only screen and (max-width: ($bp-big)) {
          transform: scale(0.9);
        }

        @media (hover: none) and (pointer: coarse) {
          transform: translateX(23rem);
        }
        @media only screen and (max-width: ($bp-mid)) {
          transform: translateX(23rem);
        }

        @media only screen and (max-width: ($bp-small)) {
          transform: translate(0rem, 22rem);

          width: 100%;
          text-align: center;
          height: 40%;
        }
      }
    }
    &__img {
      width: 100%;
    }
  }
}
