.footer {
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 2rem;
  }

  &__item {
    display: flex;
    align-items: flex-end;
  }

  &__link-logo {
    height: 5rem;

    @media only screen and (max-width: ($bp-small)) {
      height: 3rem;
    }
  }

  svg {
    max-width: 5rem;
    @media only screen and (max-width: ($bp-small)) {
      max-width: 3rem;
    }
  }
}
