html {
  @media only screen and (max-width: ($bp-large)) {
    font-size: 50%;
  }
}

body {
  font-family: 'Urbanist', sans-serif;
  font-size: 2rem;
  color: $color-dark;
  line-height: 3rem;
  background-color: $color-white;

  a {
    text-decoration: none;
    color: $color-dark;
    transition: all 0.2s;
    font-weight: 600;

    use {
      fill: $color-dark;
      transition: all 0.2s;
    }

    &:hover {
      color: $color-dark-secondary;

      use {
        fill: $color-dark-secondary;
      }
    }
  }
}
code {
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
}
.heading-primary {
  margin-bottom: 6rem;
  font-family: 'Expletus Sans', cursive;
  font-weight: 700;
  font-size: 4.5rem;
}
.heading-secondary {
  margin-bottom: 3rem;
  font-family: 'Expletus Sans', cursive;
  font-weight: 500;
  font-size: 3.5rem;
}
.heading-tertiary {
  margin-bottom: 1.5rem;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 3rem;
}

.u-borderbottom {
  border-bottom: solid 2px $color-dark;
}
.u-marginbottom-small {
  margin-bottom: 1rem;
}
.u-marginbottom-medium {
  margin-bottom: 4rem;
}
.u-marginbottom-big {
  margin-bottom: 6rem;
}
.u-textalign-center {
  text-align: center;
}
