// COLORS:

$color-dark: rgb(49, 48, 48);
$color-dark-secondary: rgb(28, 96, 160);
$color-light: rgb(83, 83, 83);
$color-dark2: rgb(122, 73, 73);
$color-white: #e2e2e2;
$color-black: #000;
$color-shadow-grey: rgb(170, 170, 170);

//FONT
$default-font-size: 1.6rem;

//RESPONSIVE BREAKPOINTS

// $bp-largest: 77.5em; //  i use 1240px    75em ; //1200px/16px(fontsize)=75
$bp-large: 60.5em; //968px
$bp-big: 53em; //800px
$bp-mid: 38.75em; //620px
$bp-small: 31em; //496px

//
