// COLORS:

$color-dark: rgb(49, 48, 48);
$color-dark-secondary: rgb(28, 96, 160);
$color-dark2: rgb(122, 73, 73);
$color-white: rgb(226, 226, 226);
$color-black: #000;

//FONT
$default-font-size: 1.6rem;
